<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Test" parallel="methods">

<parameter name="testConfigFile" value="configurations\testconfig.properties"/>

<parameter name="appTestEnvironment" value="QA"/>
<parameter name="browserName" value="Chrome"/>
<parameter name="isTestLocal" value="true"/>
<parameter name="logLevel" value="DEBUG"/>
  <test thread-count="5" name="Google Search">
  <parameter name="query" value="Query from Parameter"/>
    <classes>
      <class name="org.Console.testcases.google.search.SearchTestProvider"/>
    </classes>
  </test> <!-- Google Search -->
</suite> <!-- Default Test -->
